{% extends 'base.html.twig' %}

{% block title %}Recherche globale - {{ family.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/media_index.css">
{% endblock %}
{% block javascripts %}
    <script src="/js/media_search.js"></script>
    <script>
		familySlug = "{{ family.slug }}";
        globalSearch = true;
    </script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('section_index', {'familySlug': family.slug}) }}">Retour</a>
    <h1>Recherche globale - {{ family.name }}</h1>

    {% if medias|length > 0 %}
        <div id="search-headband">
            <div>
                <label for="sortBy_filter">Trier par</label>
                <select id="sortBy_filter">
                    <option value="date">Date</option>
                    <option value="name">Nom</option>
                </select>
            </div>
            <div>
                <label for="toDisplay_filter">Afficher</label>
                <select id="toDisplay_filter">
                    <option value="all">Tous</option>
                    <option value="video">Les vidéos</option>
                    <option value="picture">Les photos</option>
                </select>
            </div>
            <div>
                <label for="sort_filter">Trier dans l'ordre</label>
                <select id="sort_filter">
                    <option value="ASC">Croissant</option>
                    <option value="DESC">Décroissant</option>
                </select>
            </div>
        </div>
        <input type="text" placeholder="Tapez un mot clé..." id="input_search">
        <h2>Les photos/videos :</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Rubrique</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for media in medias %}
                <tr>
                    <td>{{ media.name }}</td>
                    <td>{{ media.date|date('Y-m-d') }}</td>
                    <td>{{ media.type == "video" ? "Vidéo": "Photo" }}</td>
                    <td><a href="{{ path('media_index', {'familySlug': family.slug, 'sectionSlug': media.sectionSlug}) }}">{{ media.sectionName }}</a></td>
                    <td>
                        <a class="btn" href="{{ path('media_edit', {'familySlug': family.slug, 'sectionSlug': media.sectionSlug, 'mediaId': media.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>Il semblerait qu'il n'y ait pas de photo/video dans toutes les rubriques réunies</h2>
    {% endif %}
{% endblock %}
