{% extends 'base.html.twig' %}

{% block title %}Famille {{ family.name }}{% endblock %}

{% block javascripts %}
    <script src="/js/search_section.js"></script>
    <script>
		familySlug = "{{ family.slug }}";
    </script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('index') }}">Retour</a>
    <div class="right-top-buttons">
        <a class="btn" href="{{ path('section_global', {'familySlug': family.slug}) }}">Rechercher dans toutes les rubriques</a>
        <a class="btn" href="{{ path('family_members', {'slug': family.slug}) }}">Les membres ({{ family.Users|length }})</a>
    </div>
    <h1>Famille {{ family.name }}</h1>

    {% if flash.section_success is defined %}
        <p style="color: green">{{ flash.section_success }}</p>
    {% endif %}
    {% if flash.section_failed is defined %}
        <p style="color: red">{{ flash.section_failed }}</p>
    {% endif %}

    {% if family.Sections|length > 0 %}
        <a class="btn diaporama-btn" href="{{ path('diaporama_show') }}?familySlug={{ family.slug }}">Diaporama</a><br/><br/>
        <input type="text" placeholder="Rechercher une section" id="input_search">
        <h2>Les rubriques :</h2>
        <ul id="section_list">
            {% for section in family.Sections %}
                <li>
                    <span>{{ section.name }}</span>
                    <a class="btn" href="{{ path('media_index', {'sectionSlug': section.slug, 'familySlug': family.slug}) }}">Voir</a>
                    <a class="btn" href="{{ path('section_edit', {'sectionSlug': section.slug, 'familySlug': family.slug}) }}">Modifier</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Vous pouvez aussi en créer une nouvelle</h2>
        <a class="btn" href="{{ path('section_new', {'familySlug': family.slug}) }}">Créer</a>
    {% else %}
        <h2>Il n'y aucune rubrique dans cette famille</h2>
        <a class="btn" href="{{ path('section_new', {'familySlug': family.slug}) }}">Créez en une!</a>
    {% endif %}
{% endblock %}
