{% extends 'base.html.twig' %}

{% block title %}Famille {{ family.name }}{% endblock %}

{% block javascripts %}
    <script src="/js/search_section.js"></script>
    <script>
        familyId = {{ family.id }};
    </script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('index') }}">Retour</a>
    <div class="right-top-buttons">
        <a class="btn" href="{{ path('section_global', {'familyId': family.id}) }}">Rechercher dans toutes les rubriques</a>
        <a class="btn" href="{{ path('family_members', {'id': family.id}) }}">Les membres ({{ family.Users|length }})</a>
    </div>
    <h1>Famille {{ family.name }}</h1>

    {% if flash.section_success is defined %}
        <p style="color: green">{{ flash.section_success }}</p>
    {% endif %}
    {% if flash.section_failed is defined %}
        <p style="color: red">{{ flash.section_failed }}</p>
    {% endif %}

    {% if family.Sections|length > 0 %}
        <input type="text" placeholder="Rechercher une section" id="input_search">
        <h2>Les rubriques :</h2>
        <ul id="section_list">
            {% for section in family.Sections %}
                <li>
                    <span>{{ section.name }}</span>
                    <a class="btn" href="{{ path('media_index', {'sectionId': section.id, 'familyId': family.id}) }}">Voir</a>
                    <a class="btn" href="{{ path('section_edit', {'sectionId': section.id, 'familyId': family.id}) }}">Modifier</a>
                </li>
            {% endfor %}
        </ul>
        <h2>Vous pouvez aussi en créer une nouvelle</h2>
        <a class="btn" href="{{ path('section_new', {'familyId': family.id}) }}">Créer</a>
    {% else %}
        <h2>Il n'y aucune rubrique dans cette famille</h2>
        <a class="btn" href="{{ path('section_new', {'familyId': family.id}) }}">Créez en une!</a>
    {% endif %}
{% endblock %}
