{% extends 'base.html.twig' %}

{% block title %}Les utilisateurs{% endblock %}

{% block javascripts %}
    <script src="/js/search_user.js"></script>
    <script>
        allUser = true;
        userId = {{ session.user.id }};
    </script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('index') }}">Accueil</a>
    <h1>Tous les utilisateurs</h1>
    <input type="text" placeholder="Tapez un mot clé..." id="input_search">
    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }} {% if user.id == session.user.id %}(vous){% endif %}</td>
                    {% if user.id == session.user.id %}
                        <td><a class="btn" href="{{ path('family_list_mines', {'userId': user.id}) }}">Voir mes familles ({{ user.Families|length }})</a></td>
                    {% else %}
                        <td><a class="btn" href="{{ path('family_list', {'userId': user.id}) }}">Voir ses familles ({{ user.Families|length }})</a></td>
                    {% endif %}
                </tr>
            {% else %}
                <tr><td colspan="4">Aucun utilisateur trouvé</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
