{% extends 'base.html.twig' %}

{% block title %}Editer la {{ media.type == 'video' ? 'vidéo' : 'photo' }} {{ media.name }}{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('media_index', {'familyId': media.Section.FamilyId, 'sectionId': media.Section.id}) }}">Retour</a>
    <h1>Editer la {{ media.type == 'video' ? 'vidéo' : 'photo' }} {{ media.name }}</h1>

    {% include 'Modals/forms.html.twig' with {'form': mediaForm} %}
    <br/>
    <br/>
    {% include 'Modals/forms.html.twig' with {'form': deleteMediaForm} %}
{% endblock %}
