{% extends 'base.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('section_index', {'familyId': section.Family.id}) }}">Retour</a>
    <h1>{{ section.name }}</h1>

    {% if flash.media_success %}
        <p style="color: green">{{ flash.media_success }}</p>
    {% endif %}
    {% if flash.media_failed %}
        <p style="color: red">{{ flash.media_failed }}</p>
    {% endif %}

    {% if section.Medias|length > 0 %}
        <h2>Les photos/videos :</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for media in section.Medias %}
                <tr>
                    <td>{{ media.name }}</td>
                    <td>{{ media.date|date('Y-m-d') }}</td>
                    <td>{{ media.type == "video" ? "Vidéo": "Photo" }}</td>
                    <td>
                        <a class="btn" href="{{ path('media_edit', {'familyId': section.Family.id, 'sectionId': section.id, 'mediaId': media.id}) }}">Editer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Vous pouvez aussi ajouter une nouvelle photo/video dans cette rubrique!</h2>
        <a class="btn" href="{{ path('media_new', {'familyId': section.Family.id, 'sectionId': section.id}) }}">Créer</a>
    {% else %}
        <h2>Il semblerait qu'il n'y ait pas de photo/video dans cette rubrique</h2>
        <a class="btn" href="{{ path('media_new', {'familyId': section.Family.id, 'sectionId': section.id}) }}">Créer en une!</a>
    {% endif %}
{% endblock %}
