{% extends 'base.html.twig' %}

{% block title %}{{ section.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/media_index.css">
{% endblock %}
{% block javascripts %}
    <script src="/js/media_search.js"></script>
    <script>
		familySlug = "{{ section.Family.slug }}";
		sectionSlug = "{{ section.slug }}";
        globalSearch = false;
    </script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('section_index', {'familySlug': section.Family.slug}) }}">Retour</a>
    <h1>{{ section.name }}</h1>

    {% if flash.media_success %}
        <p style="color: green">{{ flash.media_success }}</p>
    {% endif %}
    {% if flash.media_failed %}
        <p style="color: red">{{ flash.media_failed }}</p>
    {% endif %}

    {% if section.Medias|length > 0 %}
        <a class="btn" href="{{ path('diaporama_show') }}?familySlug={{ section.Family.slug }}&sectionSlug={{ section.slug }}">Diaporama</a>
        <div id="search-headband">
            <div>
                <label for="sortBy_filter">Trier par</label>
                <select id="sortBy_filter">
                    <option value="date">Date</option>
                    <option value="name">Nom</option>
                </select>
            </div>
            <div>
                <label for="toDisplay_filter">Afficher</label>
                <select id="toDisplay_filter">
                    <option value="all">Tous</option>
                    <option value="video">Les vidéos</option>
                    <option value="picture">Les photos</option>
                </select>
            </div>
            <div>
                <label for="sort_filter">Trier dans l'ordre</label>
                <select id="sort_filter">
                    <option value="ASC">Croissant</option>
                    <option value="DESC" selected="selected">Décroissant</option>
                </select>
            </div>
        </div>
        <input type="text" placeholder="Recherche..." id="input_search">
        <h2>Les photos/videos :</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for media in section.Medias %}
                <tr>
                    <td>{{ media.name }}</td>
                    <td>{{ media.date|date('d/m/Y') }}</td>
                    <td><img title="{{ media.type == "video" ? "Vidéo": "Photo" }}" src="{{ media.type == "video" ? "/images/clap.png" : "/images/picture.png" }}"></td>
                    <td>
                        <a class="btn" href="{{ path('media_view', {'familySlug': section.Family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}">Voir</a>
                        <a class="btn" href="{{ path('media_edit', {'familySlug': section.Family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h2>Vous pouvez aussi ajouter une nouvelle photo/video dans cette rubrique!</h2>
        <a class="btn" href="{{ path('media_new', {'familySlug': section.Family.slug, 'sectionSlug': section.slug}) }}">Créer</a>
    {% else %}
        <h2>Il semblerait qu'il n'y ait pas de photo/video dans cette rubrique</h2>
        <a class="btn" href="{{ path('media_new', {'familySlug': section.Family.slug, 'sectionSlug': section.slug}) }}">Créez en!</a>
    {% endif %}
{% endblock %}
