{% extends 'base.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/media_view.css">
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('media_index', {'familySlug': family.slug, 'sectionSlug': section.slug}) }}">Retour</a>
    <h1>{{ media.name }}</h1>

    {% if media.type == "picture" %}
        <img src="{{ path('media_read', {'familySlug': family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}"/>
    {% elseif media.type == "video" %}
        <video controls>
            <source src="{{ path('media_read', {'familySlug': family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}">
        </video>
    {% endif %}
{% endblock %}