{% extends 'base.html.twig' %}

{% block title %}{{ media.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/media_view.css">
{% endblock %}
{% block javascripts %}
    <script async src="/js/comment.js"></script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('media_index', {'familySlug': family.slug, 'sectionSlug': section.slug}) }}">Retour</a>
    <h1>{{ media.name }}</h1>

    {% if media.type == "picture" %}
        <img src="{{ path('media_read', {'familySlug': family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}"/>
    {% elseif media.type == "video" %}
        <video controls>
            <source src="{{ path('media_read', {'familySlug': family.slug, 'sectionSlug': section.slug, 'mediaSlug': media.slug}) }}">
        </video>
    {% endif %}


    <div id="comment_container">
        {% if flash.comment_success is defined %}
            <p style="color: green">{{ flash.comment_success }}</p>
        {% endif %}
        <h2>Créez un commentaire</h2>

        {% include "Modals/forms.html.twig" with {'form': commentForm} %}

        {% if comments|length > 0 %}
            <ul id="comments">
                {% set nb = 0 %}
                {% for comment in comments %}
                    <li class="comment" id="comment_{{ comment.id }}">
                        {% if nb > 0 %}
                            <hr>
                        {% endif %}
                        <div class="header">
                            <div class="infos">
                                De {{ comment.User.firstname }} {{ comment.User.lastname }}
                                à {{ comment.createdAt|date("Y-m-d H:i:s") }}
                                {% if comment.updated %}
                                    (modifié)
                                {% endif %}
                            </div>

                            {% if comment.User.id == session.user.id %}
                                <div class="actions">
                                    <a class="btn btn-form-action" href="javascript:displayEdit({{ comment.id }})">
                                        <img src="/images/editer.svg">
                                    </a>
                                    {% include "Modals/forms_async.html.twig" with {'form': commentDeleteForms[comment.id], 'callback': 'comment_deleted'} %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="body">
                            {{ comment.content }}
                        </div>
                        {% include "Modals/forms_async.html.twig" with {'form': commentEditForms[comment.id], 'checkBefore': 'beforeEdit', 'callback': 'comment_edited' } %}
                    </li>
                    {% set nb = nb+1 %}
                {% endfor %}
            </ul>
        {% else %}
            <h2>Il n'y a aucun commentaire</h2>
        {% endif %}
    </div>
{% endblock %}