{% extends 'base.html.twig' %}

{% block title %}Demandes reçues{% endblock %}

{% block body %}
    <h1>Les demandes reçues</h1>

    {% if flash.demand_error is defined %}
        <span style="color: red">{{ flash.demand_error }}</span>
    {% endif %}
    {% if flash.demand_success is defined %}
        <span style="color: green">{{ flash.demand_success }}</span>
    {% endif %}

    {% if demands|length > 0 %}
        <ul>
            {% for demand in demands %}
                <li>
                    <span>
                        {{ demand.Applicant.firstname }} {{ demand.Applicant.lastname }} ({{ demand.Applicant.email }}) souhaite rejoindre la famille {{ demand.Family.name }}
                    </span>
                    {% include 'Modals/forms.html.twig' with {'form': acceptForms[demand.id]} %}
                    {% include 'Modals/forms.html.twig' with {'form': denyForms[demand.id]} %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <h2>Aucune demande de cooptation</h2>
    {% endif %}
{% endblock %}
