{% extends 'base.html.twig' %}

{% block title %}Mes familles{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/family_form.css">
{% endblock %}
{% block javascripts %}
    <script async src="/js/family_form.js"></script>
{% endblock %}

{% block body %}
    <h1>Mes familles</h1>

    {% if flash.change_display_family_failed is defined %}
        <p style="color: red">{{ flash.change_display_family_failed }}</p>
    {% endif %}
    {% if flash.change_display_family_success is defined %}
        <p style="color: green">{{ flash.change_display_family_success }}</p>
    {% endif %}

    {% if session.user.Families|length > 0 %}
    <ul>
        {% for family in session.user.Families %}
            <li>
                <span>{{ family.name }}</span>
                <a class="btn" href="{{ path('section_index', {'familySlug': family.slug}) }}">Voir</a>
                <a class="btn" href="javascript:displayDemandForm('family-{{ family.id }}')">Modifier</a>
                <div class="family-form" id="family-{{ family.id }}">
                    {% include 'Modals/forms.html.twig' with {'form': forms[family.id]} %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Cet utilisateur n'a aucune famille visible</h2>
    {% endif %}
    <a class="btn" href="{{ path('family_index') }}">Rejoindre</a>
    <a class="btn" href="{{ path('family_new') }}">Créer</a>
{% endblock %}
