{% extends 'base.html.twig' %}

{% block title %}Familles de {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/family_form.css">
{% endblock %}
{% block javascripts %}
    <script async src="/js/family_form.js"></script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ referer }}">Retour</a>
    <h1>Familles de {{ user.firstname }} {{ user.lastname }}</h1>

    {% if flash.faileds is defined %}
        <ul>
            {% for error in flash.faileds %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if flash.success is defined %}
        <p style="color: green">{{ flash.success }}</p>
    {% endif %}

    {% if user.Families|length > 0 %}
    <ul>
        {% for family in user.Families %}
            <li>
                <span>{{ family.name }}</span>
                {% if not family.alreadyMember %}
                    <a class="btn" href="javascript:displayDemandForm('family-demand-{{ family.id }}')">Demander à rejoindre</a>
                    <div class="family-form" id="family-demand-{{ family.id }}">
                        {% include 'Modals/forms.html.twig' with {'form': forms[family.id]} %}
                    </div>
                {% else %}
                    <span style="width: 215px; display: inline-block;">
                        Déjà rejoint
                    </span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Cet utilisateur n'a aucune famille visible</h2>
    {% endif %}
{% endblock %}
