{% extends 'base.html.twig' %}

{% block title %}Familles de {{ user.firstname }} {{ user.lastname }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/family_list.css">
{% endblock %}
{% block javascripts %}
    <script async src="/js/family_list.js"></script>
{% endblock %}

{% block body %}
    <a class="btn back-btn" href="{{ path('user_all') }}">Retour</a>
    <h1>Familles de {{ user.firstname }} {{ user.lastname }}</h1>

    {% if flash.family_demand_faileds is defined %}
        <ul>
            {% for error in flash.family_demand_faileds %}
                <li style="color: red;">{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if flash.family_demand_success is defined %}
        <p style="color: green">{{ flash.family_demand_success }}</p>
    {% endif %}

    {% if user.Families|length > 0 %}
    <ul>
        {% for family in user.Families %}
            <li class="family" id="family-{{ family.id }}">
                <span>{{ family.name }}</span><a class="btn" href="javascript:displayDemandForm({{ family.id }})">Demander à rejoindre</a>
                <div>
                    {% include 'Modals/forms.html.twig' with {'form': forms[family.id]} %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <h2>Cet utilisateur n'a aucune famille visible</h2>
    {% endif %}
{% endblock %}
