<html>
    <head>
        <title>{% block title %}Family Vid{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <meta charset="UTF-16">
    </head>
    <body>
        <header>
            <nav>
                <div><a href="{{ path('index') }}">Family Vid</a></div>
                <ul>
                    {% if session.user is defined %}
                        <li><a href="{{ path('security_logout') }}">Se déconnecter</a></li>
                        <li>{{ session.user.firstname }} {{ session.user.lastname }}</li>
                    {% else %}
                        <li><a href="{{ path('security_register') }}">Inscription</a></li>
                        <li><a href="{{ path('security_login') }}">Connexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
           {% block body %}
           {% endblock %}
        </main>
    </body>
</html>
