{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur Family Vid!</h1>
    <div>
        {% if session.user %}
            {% if session.user.Families|length == 0 %}
                <h2>Vous n'avez aucune famille</h2>
                <a class="btn-custom" href="{{ path('user_all') }}">Rejoignez en une!</a><br/>
                <a class="btn-custom" href="{{ path('family_new') }}">Créer en une!</a>
            {% else %}
                <h2>Voici vos familles</h2>
                <ul>
                    {% for family in session.user.Families %}
                        <li>{{ family.name }}</li>
                    {% endfor %}
                </ul>
                <h2>Vous pouvez aussi rejoindre de nouvelles familles</h2>
                <a class="btn-custom" href="{{ path('user_all') }}">Rejoignez en une!</a><br/>
                <a class="btn-custom" href="{{ path('family_new') }}">Créer en une!</a>
            {% endif %}
        {% else %}
            <h2>Connectez vous pour accéder à votre compte!</h2>
            <a class="btn-custom" href="{{ path('security_login') }}">Se connecter</a>
        {% endif %}
    </div>
{% endblock %}
